* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #f3f3f3;
  background-color: #282a3a;
  font-synthesis: none;
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
